.button {
  @include displayFlex(center, center, row);
  //font-family: "Josefin Sans", sans-serif;
  background: $tg-theme-button;
  box-shadow: $color-box-shadow;
  color: $tg-theme-button-text;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  line-height: normal;
  text-decoration: none;
  gap: 10px;
  font-size: 16px;
  font-weight: $font-weight-bold;
  border-radius: 45px;
  padding: 10.75px 16px;
  width: 200px;
  margin-top: 16px;

  &:hover,&:active {
    filter: brightness(1.05);
    &:disabled {
      filter: none;
    }
  }
  &:disabled {
    background: gray;
    &:hover {
      filter: none;
    }
  }
}

.button-second {
  @include displayFlex(center, center, row);

  color: $tg-theme-button;
  font-size: 18px;
  font-weight: $font-weight-bold;
  margin-bottom: 80px;

  &:hover {
    filter: brightness(1.05);
  }
}
